@media (min-width: 1024px) {
    h2 {
        font-size: 2.3rem;
    }

    .jumbotron {
        padding: 180px 0 130px;
    }

    .portrait {
        width: 250px;
        margin: 40px auto  auto 10%;
    }

    .action-btn {
        min-width: 175px;
        height: 60px;
    }

    .project-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .project-section-title {
        grid-column: 1 / span 3;
    }
}