@media (min-width: 1024px) {
    h2 {
        font-size: 2.3rem;
    }

    .portrait {
        width: 250px;
        margin: 40px auto  auto 18%;
    }

    .action-btn {
        min-width: 175px;
        height: 60px;
    }
}