@media (min-width: 768px) {
    .toggle-btn {
        display: none;
    }

    .navbar {
        flex-direction: row;
    }

    .navbar-links {
        display: flex;
        ul {
            flex-direction: row;
            width: 35%;
            position: absolute;
            top: 1.5rem;
            right: 1rem;
        }
    }

    h2 {
        text-align: left;
        font-size: 1.9rem;
        padding: 0;
    }

    .jumbotron {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-row-gap: 10px;
        overflow-x: hidden;
        padding: 210px 0 150px;
    }

    .portrait {
        width: 200px;
        margin: 50px auto auto 5%;
    }

    .greeting {
        grid-column: 1 / span 1;
        margin-right: 5%;
    }
    
    .portrait-container {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }
    
    .call-to-action {
        grid-column: 1 / span 1;
        margin-right: 5%;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 30px;
    }

    .action-btn {
        min-width: 150px;
    }

    .project-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-section-title {
        grid-column: 1 / span 2;
        margin: 35px auto 25px 50px;
        padding: 0;
    }

    .projects-btn {
        margin-left: 10%;
    }

    .contact-title {
        text-align: left;
        padding-left: 4.5rem;
    }
}