.toggle-btn {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: $white;
    border-radius: 10px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 90%;
}

.action-btn {
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: $white;
    border-radius: 5px;
    height: 50px;
    max-width: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
}

.action-btn:hover {
    border: 1px solid $color-tertiary;
    background-color: $color-tertiary;
    transform: translateY(10%);
    transition: 0.3s;
}

.project-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.code-btn,
.site-btn {
    border: 1px solid $color-primary;
    border-radius: 5px;
    background-color: $color-primary;
    color: $white;
    width: 150px;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding-top: 14px;
}

.code-btn:hover,
.site-btn:hover {
    border: 1px solid $color-tertiary;
    background-color: $color-tertiary;
    transform: translateY(10%);
    transition: 0.3s;
}