.skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 25px;
}

.github,
.linked-in {
    fill: $color-primary;
    margin: 0 15px;
}

.github:hover,
.linked-in:hover {
    fill: $color-tertiary;
    transition: 00.3s;
}