.navbar {
    position: fixed;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $color-primary;
    color: $white;
    @media (min-width: $break-med) {
        flex-direction: row;
    }
}

.navbar-title {
    margin: .75rem;
    text-decoration: none;
}

.navbar-links {
    display: none;
    width: 100%;
    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (min-width: $break-med) {
            flex-direction: row;
            width: 35%;
            position: absolute;
            top: 1.5rem;
            right: 1rem;
        }
    }
    li {
        font-family: 'Raleway', sans-serif;
        list-style: none;
        width: 100%;
        text-align: center;
        :hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-decoration-color: $color-tertiary;
            transform: translateY(10%);
            transition: 0.3s;
        }
    } 
    a {
        text-decoration: none;
        color: $white;
        display: block;
    }   
    li a {
        padding: .5rem .25rem;
    }
    &.active {
        display: flex;
    }
    @media (min-width: $break-med) {
        display: flex;
    }
}

.projects-btn {
    @media (min-width: $break-med) {
        margin-left: 10%;
    }
}