* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.jumbotron {
    width: 100%;
    padding: 160px 0 110px;
    @media (min-width: $break-med) {
        padding: 210px 0 150px;
    }
    @media (min-width: $break-lg) {
        padding: 180px 0 130px;
    }
}

.projects {
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    border-radius: 5px;
    scroll-margin-top: 100px;
    @media (min-width: $break-med) {
        scroll-margin-top: 100px;
    }
}

.project-container li {
    list-style: none;
}

.project-card {
    width: 90%;
    margin: auto;
    border: 1px solid $white;
    background-color: $white;
    border-radius: 10px;
}

.project-title-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.project-details {
    position: relative;
    background-color: $light-grey;
    border: 1px solid $light-grey;
    border-radius: 0 0 10px 10px;
    display: none;
    &.active {
        display: block;
    }
}

.about {
    scroll-margin-top: 30px;
    @media (min-width: $break-med) {
        scroll-margin-top: 50px;
    }
}

.contact {
    scroll-margin-top: 30px;
    @media (min-width: $break-med) {
        scroll-margin-top: 50px;
    }
}

.socials-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px 0;
}