* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.jumbotron {
    width: 100%;
    display: grid;
    grid-template-rows: 165px 230px;
    grid-template-columns: repeat(2, 1fr);
    padding: 160px 0 110px;
}

.greeting {
    grid-column: 1 / span 3;
    margin: auto;
}

.portrait-container {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
}

.call-to-action {
    grid-column: 2 / span 2;
    margin: auto auto auto 10px;
}

.project-container {
    width: 95%;
    margin: auto;
    padding-bottom: 30px;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 15px;
}

.project-card {
    width: 90%;
    margin: auto;
    border: 1px solid $white;
    background-color: $white;
    border-radius: 10px;
}