body {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    width: 200px;
    padding-left: 1rem;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    @media (min-width: $break-med) {
        text-align: left;
        font-size: 1.9rem;
        padding: 0;
    }
    @media (min-width: $break-lg) {
        font-size: 2.3rem;
    }
}

.project-section-title {
    color: $white;
    padding-top: 8px;
    @media (min-width: $break-med) {
        margin: 35px auto 25px 50px;
        padding: 0;
    }
}

h3 {
    font-size: 1.2rem;
    text-align: center;
}

.project-description {
    text-align: center;
    margin: 15px 10px 20px;
    height: 100px;
}

.contact-title {
    text-align: center;
    color: $color-secondary;
    @media (min-width: $break-med) {
        text-align: left;
        padding-left: 4.5rem;
    }
}

.contact-description {
    text-align: center;
    width: 90%;
    margin: auto;
    @media (min-width: $break-lg) {
        width: 80%;
    }
}

.contact-form {
    text-decoration: underline;
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
}